@typeparam TEntity
@typeparam TTableDataFilters
@inherits BaseComponent

@if (Data is null)
{
    @if (Loading is not null)
    {
        @Loading
    }
}
else
{
    <table class="@CssClass">
        @if (Head is not null)
        {
            <thead>
                @Head
            </thead>
        }
        @if (Body is not null)
        {
            <tbody>
                @foreach (var rowData in Data)
                {
                    @Body(rowData)
                }
            </tbody>
        }
    </table>
}
