@typeparam TEntity
@typeparam TTableDataFilters
@inherits BaseComponent

@if (Data == null)
{
    @if (LoadingContent is null)
    {
        <h2>Loading</h2>
    }
    else
    {
        @LoadingContent
    }
}
else
{
    <table class="@CssClass">
        <thead>
            @HeadContent
        </thead>
        <tbody>
            @foreach (var rowData in Data)
            {
                @Body(rowData)
            }
        </tbody>
    </table>
}
