@page "/tables"
@using Arinsys.Components.AspNetCore.Bootstrap.Tables
@using Arinsys.Components.AspNetCore.Samples.Models
@using Arinsys.Components.AspNetCore.Samples.Fakes

<Table DataAccessor="GetData" TEntity="User" TTableDataFilters="Arinsys.Components.AspNetCore.Tables.TableDataFilters<User>">
    <Head>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </Head>
    <Body>
        <tr>
            <td>@context.Id</td>
            <td>@context.Name</td>
            <td>@context.Email</td>
        </tr>
    </Body>
</Table>

@code{
    protected Task<IEnumerable<User>> GetData(Arinsys.Components.AspNetCore.Tables.TableDataFilters<User> tableDataFilters)
    {
        IEnumerable<User> users = FakeUser.ValidDefaults.Generate(10);
        return Task.FromResult(users);
    }
}